body { background-color: #FFC0CB;
		margin: 0px;
		font-family: verdana, Georgia, serif;
		font-size: 14px: }
		
header { background-color: #DDA0DD;
			margin: 10px;
			height: 90px; }
		

nav { background-color: #DDA0DD;
		margin: 10px;
		height: 35px; }	
		
main { background-color: #e5e4d7;
		margin: 10px;
		border-radius: 5px;
		padding: 20px;
		font-size: 110%; }		
		
