body { background-color: #FFC0CB;
		margin: 0px;
		font-family: verdana, Georgia, serif;
		font-size: 14px: }
		
header { background-color: #DDA0DD;
			margin: 10px;
			height: 90px; }
		

nav { background-color: #DDA0DD;
		margin: 10px;
		height: 35px; }	
		
main { background-color: #e5e4d7;
		margin: 10px;
		border-radius: 5px;
		padding: 20px;}		
		
aside { background-color: #B0E0E6
	margin: 10px;
	border-radius: 5px;
	padding: 20px;
	float: right;
	width: 260px;
	clear: right; }

.sidebar { margin: 10px;
	border-radius: 5px;
	width: 280px;
	float: right;
	clear: right; }

footer {background-color: #5c765e;
	margin: 10px;
	height: 90px;
	border-radius: 5px;
	clear: both; }
